:root {
  /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    
        @author McKilla Gorilla
    */
  --swatch-foundation: #eeeedd;
  --swatch-primary: #afaeae;
  --swatch-complement: #e1e4cb;
  --swatch-contrast: #111111;
  --swatch-accent: #669966;
  --swatch-status: #123456;
  --my-font-family: "Robaaaoto";
  --swatch-user: blueviolet;
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

#root {
  background-color: #EEEEFF;
  font-family: "Lexend Exa";
  position: absolute;
  width: 100%;
  height: 100%;
}

#app-root {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

#holder {
  display: flex;
}

.pa {
  position: relative;
  width: 58vw;
  height: 60vh;
}

#painterro {
  border: 2px solid red;
}

#p2 {
  border: 2px solid green;
}

.MuiSlider-thumb{
  color: black;
}
.MuiSlider-rail{
  color:#493548;
}
.MuiSlider-track{
  color: #a1e887;
}
